
body{
	background: lightgoldenrodyellow;
}
img{
	border: none;
	height: auto !important;
	max-width: 100%;
}
.wrapper{
	max-width: 1002px;
	margin: 0 auto;
}

.slideshow{
	max-width: 560px;
	margin: 0 auto;
}
