@import url(http://fonts.googleapis.com/css?family=Almendra:400,700italic);

body{
  width:100%; 
  margin:0;
  overflow:hidden;
  background: hsla(0, 5%, 5%, 1);
  letter-spacing: 10px;
  color: hsla(0, 5%, 30%, 1);
  text-shadow: 1px 1px hsla(0, 0%, 5%, 1), -1px -1px hsla(0, 5%, 5%, 1);
  font-family: 'Almendra', serif;
  font-size:1.5em;
}
input{
  float:left;
  margin-left:1%;
}
label, div{
  float:left;
  margin-left:1%;
}
h3{
  width:100%; 
  text-align:center;
  bottom:-.5em;
  padding:0;
  position:absolute;
}
p{
	font-family: 'Almendra', serif;
}