.carousel_container {
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
	min-width: 980px;
}

#drag {
	background: transparent url("../img/drag.png") 0 0 no-repeat;
	width: 127px;
	height: 127px;
	top: 50%;
	left: 50%;
	margin: -72px 0 0 -64px;
	position: absolute;
	z-index: 10;
}

#carousel_wide {
	background-color: #fff;
	width: 100%;
	overflow: hidden;
	position: relative;
	top: -15px;
	z-index: 0;
	height: 370px;
}
#carousel_wide:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#carousel_wide .carousel {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
#carousel_wide .carousel.carousel-back {
	position: absolute;
	z-index: 5;
}
#carousel_wide ul {
	width: 101%;
	list-style: none;
	padding: 0;
	margin: 0;
}
#carousel_wide li {
	height: 370px;
	float: left;
	position: relative;
}
#carousel_wide li span {
	display: block;
	position: absolute;
	text-align: center;
	bottom: 10px;
	left: 0;
	color: #111;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
	width: 100%;
	text-align: center;
	font-size: 14px;
}
#carousel_wide li span b {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	max-width: 250px;
	font-weight: 100;
	padding: 5px 10px;
	background: rgba(201, 188, 163, 0.7);
}
#carousel_wide img {
	display: block;
	height: 100%;
}
#carousel_wide .prev,
#carousel_wide .next {
	display: block;
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 20;
	width: 44px;
	height: 44px;
	margin-top: -22px;
	background: transparent url("../i/slider-nav.png") 0 0 no-repeat;
}
#carousel_wide .prev {
	margin-left: -472px;
}
#carousel_wide .prev:hover {
	background-position: 0 -44px;
}
#carousel_wide .next {
	margin-left: 428px;
	background-position: -44px 0;
}
#carousel_wide .next:hover {
	background-position: -44px -44px;
}
#carousel_wide .pager {
	position: absolute;
	left: 0;
	bottom: 10px;
	text-align: center;
	width: 100%;
}
#carousel_wide .pager a {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background: #e0c47f;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	cursor: pointer;
}
#carousel_wide .pager a:hover {
	background: #467e58;
}
#carousel_wide .pager a.selected {
	background: #000;
	cursor: default;
}
#carousel_wide .pager a span {
	display: none;
}
#carousel_wide .pager a.selected {
	background-color: #fff;
}